@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/fonts/TTLakes-Bold.woff');
    font-weight: bold;
}